body {
  background-color: #d8d8d8;
}
 
a {
  color: rgba(0,150,0,1);
}
 
a:hover {
  color: rgba(0,100,0,1);
}
 
.text-muted {
  color: #90939a;
}
 
.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
 
.navbar-header {
  float: left;
  padding-left: 15px;
}
 
.navbar-brand {
  height: 50px;
  padding: 0 15px;
  font-size: inherit;
  line-height: 50px;
}
 
.navbar-nav {
  float: left;
  margin: 0;
}
 
.navbar-nav > li {
  float: left;
}
 
.navbar-nav > li > a {
  padding: 0 15px;
  line-height: 50px;
}
 
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
 
.center-form {
  width: 315px;
  margin: 10% auto;
}

.student-panel {
  width:500px;
  padding-bottom: 15px;
  padding-top: 15px;
}
 
.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}
 
.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}
 
.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}
 
.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.form-control:focus {
  box-shadow: inset 0 -1 0 green;
}
 
[class^='ion-'] {
  font-size: 1.2em;
}
 
.has-feedback .form-control {
  padding-left: 42px;
}
 
.media-object {
  display: inline-block;
  width: 32px;
  height: 32px;
}
 
.media-heading {
  display: block;
  margin: 0;
  color:rgba(0,100,0,1);
}
 
.media-heading:hover {
  color: rgba(0,100,0,1);
}
 
.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  border: 0;
}
 
.thumbnail {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}

/*START OF AA and SW CSS*/

.image {
  width:106%;
  height:340px;
}

.word {
  position:absolute;
  top: 45%;
  color: white;
  background-color:rgba(0,0,0,0.75);
  width:100%;
  font-size: 80px;
}

.letter {
  font-size: 68px;
}

.incorrect {
  position:fixed;
  z-index: 1;
  margin:0;
  min-height: 100%;
  min-width:100%;
  background-color:rgba(100,0,0,0.70);
}

.correct {
  position:fixed;
  z-index: 1;
  margin:0;
  min-height: 100%;
  min-width:100%;
  background-color:rgba(0,100,0,0.70);
}

.alphabet {
  float:right;
  clear: both;
  margin-right: 10px;
  margin-bottom: 10px;
}

.stats-page {
  position:fixed;
  z-index: 1;
  margin:0;
  min-height: 100%;
  min-width:100%;
  background-color:rgba(0,0,0,0.80);
}
.sound-icon {
  height:80px;
  margin:30px auto;
}
.stats {
  color: white;
  width:50%;
  margin:0 auto;
}

.stats-icon {
  height: 40px;
  float: right;
  clear: both;
  margin-right: 10px;
}

.stats-title {
  font-size: 120px;
  width:50%;  
  margin: 0 auto;
}

.stats-correct {
  color: green;
  font-size: 40px;
  width:50%;
  margin: 0 auto;
}

.stats-incorrect{
  color: red;
  font-size: 40px;
  width:50%;
  margin: 0 auto;
}

.stats-missed-title{
  font-size: 60px;
  width:50%;
  margin: 0 auto;
}

.stats-missed-results{
  font-size: 30px;
  width:50%;
  margin: 0 auto;
}

.response {
  position:absolute;
  top:45%;
  font-size:180px;
  color:white;
  left:5%;
}
.correctAnswer {
  position:absolute;
  top:30%;
  font:black;
  font-size:100px;
  left:15%;
}

.sight-word-plus {
  color: green;
  position:absolute;
  right: 15px;
  top: -20px;
}

.pointer:hover {
  cursor:pointer;
}
 
.tile:hover {
  cursor: pointer;
}

.stats-icon:hover{
  cursor: pointer;
}

.stats-page:hover{
  cursor: pointer;
}

.incorrect:hover{
  cursor: pointer;
}

.correct:hover{
  cursor: pointer;
}

/* START OF LETTER ASSESMENT */

.letters-board {
  width:60%;
}

.comic-sans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.finish-screen {
  position:fixed;
  z-index: 1;
  margin:0;
  min-height: 100%;
  min-width:100%;
  background-color:rgba(0,0,0,0.85);
}

.btn-holder {
  width:50%;
  margin: 0 auto;
}

.done-text {
  font-size:150px;
  color: white;
}


.done-gif {
  margin-top: 50px;
}

.student-list {
  margin:0 auto;
  width: 300px;
}

.panel {
  margin-bottom: 50px;
}

.animal-alphabet-container {
  width:80%;
}

.sound-icon-tile {
  height:50px;
  margin-bottom: 10px;
  margin-top:30px;
}

.letter-assesment-tile {
  height:175px;
  width:;
}

.letter-assesment-lower {
  text-transform: lowercase;
}

.letter-assesment-form-control {
  width:200px;
}

.student-icons {
  margin-left: 8px;
  font-size:20px;
}

.red {
  color:red;
}

.edit-color {
  color:#2196f3;
}

.green {
  color:rgba(0,100,0,1);
}

.lt-green {
  color:rgba(0,180,0,1);
}

.yellow {
  color: rgba(250,200,0,1);
}

.stats-panel {
  width:500px;
  padding:15px;
  background-color: white;
}

.center-text {
  text-align: center;
}

.warning-panel {
  width:500px;
  margin: 0 auto;
  margin-top:200px;
}

.warning-btns {
  margin: 0 auto;
}

.home-tile {
  height: 300px;
  
}

.home-titles {
  color: white; 
  width:100%;
  background-color:rgba(0,100,0,0.80);
  padding-top:20px;
  padding-bottom: 20px
}

.home-tile-letter-assesment {
  background-image: url("../img/letter_assesment.png");
  background-size:cover;
}

.home-tile-sight-words {
  background-image: url("../img/sight_words.png");
   background-size:cover;
}

.home-tile-animal-alphabet {
  background-image: url("../img/animal_alphabet.png");
   background-size:cover;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.sight-word-lists {
  font-size: 20px;
}

.delete-list-icon {
  margin-left: 12px;
}

.delete-word-icon {
  margin-left: 12px;
  font-size: 15px;
}

.sightword-edit-word {
  font-size: 15px;
}


/*.letter-assesment-showing {
  background-image: url("../img/happytree-find-the-letter.gif");
  background-size: 300px 500px;
  background-repeat: no-repeat;
}*/