<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <a href="#/letters_assesment" class= "img-rounded">
          <div class="home-tile">
            Letter Assesment
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#/sight_words">
          <div class="home-tile img-rounded">
            Sight Words
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#/animal_alphabet">
          <div class="home-tile img-rounded">
            Animal Alphabet
          </div>
        </a>
      </div>
    </div>
  </div>
</div>