<div class="container">
  <div class="jumbotron">
    <h1 class="center-text green"><i class="ion-leaf green"></i>Tools</h1>
    <div class="row">
      <div class="col-sm-4 col-xs-12 btn home-tile-letter-assesment">
        <a href="#/letters_assesment" class= "img-rounded">
          <div class="home-tile">
            <h4 class="home-titles"> Letter Assesment</h4> 
          </div>
        </a>
      </div>
      <div class="col-sm-4 col-xs-12 btn home-tile-sight-words">
        <a href="#/sight_words">
          <div class="home-tile img-rounded">
            <h4 class="home-titles"> Sight Words</h4>
          </div>
        </a>
      </div>
      <div class="col-sm-4  col-xs-12 btn home-tile-animal-alphabet">
        <a href="#/animal_alphabet">
          <div class="home-tile img-rounded">
            <h4 class="home-titles">Animal Alphabet</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>