<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div ng-if="!isAuthenticated()">
        <h1 class="center-text green">Welcome to <i class="ion-leaf green"></i>HappyTree</h1>
        <a href="#/tools"><h3 class="center-text green">Tools for Teachers</h3></a>
        <div class="row">
          <p></p>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h5> We make tools to help make assesments easier and faster, so you can get back to teaching.</h5>
          </div>
          <div class="col-sm-4 home-start-panel container">
            <h4>Start Today:</h4>
            <ol>
              <li><h5><a href="#/signup">Sign Up!</a></h5></li>
              <li><h5> Add your students. </h5></li>
              <li><h5>Start your assesments. </h5> </li>
            </ol>
          </div>
        </div>
      </div>

      <div ng-if="isAuthenticated()">
        <h1 class="center-text green"> <i class="ion-leaf green"></i>Dashboard</h1>
        <div class="row">
          <div class="col-sm-6">
            <h5 class="center-text"> Recent Letter Assesments </h5> 
            <table class="table table-fixed">
              <thead>
                <tr>
                  <th class="col-xs-2 center-text">Date</th>
                  <th class="col-xs-4 center-text">Student</th>
                  <th class="col-xs-4 center-text">Name</th>
                  <th class="col-xs-2 center-text">Score</th>
                </tr>
              </thead>
              <tbody>
                  <td ng-if="letterAssesments.length < 1" class="col-xs-12 center-text">No Assements Taken</td>
                <tr ng-repeat="assesment in letterAssesments | orderBy:'-date' | limitTo: 20">
                  <td class="col-xs-2 center-text">{{assesment.date | date: 'shortDate'}}</td>
                  <td class="col-xs-4 center-text">{{assesment.studentName}}</td>
                  <td class="col-xs-4 center-text">{{assesment.name}}</td>
                  <td class="col-xs-2 center-text" ng-class="getScoreColorClass(assesment)">{{assesment.percentCorrect + "%"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <h5 class="center-text"> Recent Sight Word assesments </h5> 
            <table class="table table-fixed">
              <thead>
              <tr>
                <th class="col-xs-2 center-text">Date</th>
                <th class="col-xs-4 center-text">Student</th>
                <th class="col-xs-4 center-text">Name</th>
                <th class="col-xs-2 center-text">Score</th>
              </tr>
            </thead>
              <tbody class="home-recent-assesments">
              <td ng-if="sightWordAssesments.length < 1" class="col-xs-12 center-text">No Assements Taken</td>
                <tr ng-repeat="assesment in sightWordAssesments.slice().reverse()">
                  <td class="col-xs-2 center-text">{{assesment.date | date: 'shortDate'}}</td>
                  <td class="col-xs-4 center-text">{{assesment.studentName}}</td>
                  <td class="col-xs-4 center-text">{{assesment.name}}</td>
                  <td class="col-xs-2 center-text" ng-class="getScoreColorClass(assesment)">{{assesment.percentCorrect + "%"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div>
  <p class="center-text">Copyright © 2015 | Design & Development by Matias Meneses</p>
</div>