<div ng-show="finish" ng-click="hideFinish()" class="finish-screen">
  <center class="done-gif">
  <iframe src="//giphy.com/embed/IjmMzurYulKEw?html5=true" width="480" height="318" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </center>
  <center class="done-text" >Good Job!</center>
</div>
<div ng-show="startButton">
</div>
<div class="btn-holder" ng-show="startButton">
    <form name="studentForm">
      <fieldset class="form-group">
        <select ng-model="selectedStudent" class="form-control" ng-options="student as student.firstName for student in allStudents"  title="Stars">
          <option value="">Choose Student</option>
        </select>
      </fieldset>
    </form>
  <button ng-click="startLetterAssesment(1)" class="btn btn-success btn-block">START UPPERCASE LETTER ASSESMENT</button>
  <button ng-click="startLetterAssesment(2)" class="btn btn-success btn-block">START LOWERCASE LETTER ASSESMENT</button>
  <button ng-click="startLetterAssesment(3)" class="btn btn-success btn-block">START LETTER SOUND ASSESMENT</button>
</div>
<div class="row" ng-show="upper || lower">
  <div class="col-sm-9">
  </div>
  <div class="col-sm-3">
    <h6>Assesment for {{selectedStudent.firstName}}</h6>
    <!-- <div class="btn btn-primary" ng-show="upper" ng-click="switchCase()">Switch to Lower Case</div>
    <div class="btn btn-primary" ng-show="lower" ng-click="switchCase()">Switch to Upper Case</div> -->
  </div>
</div>
<div class="row" ng-hide="startButton">
  <div><center><img class="sound-icon"ng-click="playCorrectAudio()" src="img/sound_icon.png"></center></div>
  <div>
    <center>
      <div class="letters-board" ng-show="upper" ng-repeat="letter in letterBoard">
        <div class="col-sm-4  col-xs-6 img-thumbnail" ng-click="letterGuess(letter)"><h1 class="comic-sans"><center>{{letter.upper}}</center></h1></div>
      </div>
      <div class="letters-board" ng-show="lower" ng-repeat="letter in letterBoard">
        <div class="col-sm-4 img-thumbnail" ng-click="letterGuess(letter)">
          <h1 class="comic-sans"><center>{{letter.lower}}</center></h1>
        </div>
      </div>
    </center>
  </div>
</div>