<div class="stats-page" ng-show="warningShowing">
  <div class="panel panel-danger warning-panel">
    <div class="panel-heading">
      <h5>Are you sure you want to delete {{currentStudent.firstName}} {{currentStudent.lastName}}?</h5>
    </div>
    <div class="panel-body row">
      <div class="col-xs-6 center-text"><button ng-click="deleteStudent(currentStudent)" class="btn warning-btns">Yes, delete</button></div>
      <div class="col-xs-6 center-text">
        <button ng-click="hideDeleteWarning()" class="btn warning-btns">No</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="containter col-sm-6">
    <div class="center-form panel student-panel">
      <h1 class="text-center"> <i class="ion-leaf green"></i>Students <button ng-click="showAddStudent()" ng-hide="addStudentShowing"class="ion-person-add green btn-default pointer"> </button></h1>
      <div class="student-list">
        <ol>
          <div ng-repeat="student in students | orderBy:'firstName'">
            <li ng-mouseover="studentHover = true" ng-mouseleave="studentHover = false">
              <h5>{{student.firstName}} {{student.lastName }} 
              <span ng-show="studentHover">
                <span ng-click="showEditStudent(student)"class="ion-edit student-icons green"></span>
                <span ng-click="showStats(student)" class="ion-stats-bars student-icons lt-green"></span> 
              </span>
              </h5>
            </li>
          </div>
        </ol>

      </div>
    </div>
  </div>
    <div class="container col-sm-6">
     
      <div ng-show="addStudentShowing" class="center-form panel">
        <div class="panel-body">
          <h4 class="text-center">Add Student <i class="green ion-person-add"></i></h4>
          <form method="post" ng-submit="addStudent(student)" name="addStudentForm">

            <div class="form-group has-feedback" ng-class="{ 'has-error' : addStudentForm.firstName.$invalid && addStudentForm.firstName.$dirty }">
              <input class="form-control input-lg" type="text" id="firstName" name="firstName" ng-model="student.firstName" placeholder="First Name" required>
              <span class="ion-person form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : addStudentForm.lastName.$invalid && addStudentForm.lastName.$dirty }">
              <input class="form-control input-lg" type="text" id="lastName" name="lastName" ng-model="student.lastName" placeholder="Last Name" required>
              <span class="form-control-feedback"></span>
            </div>

             <div class="form-group has-feedback" ng-class="{ 'has-error' : addStudentForm.grade.$invalid && addStudentForm.grade.$dirty }">
              <select class="form-control input-lg" type="text" id="grade" name="grade" ng-model="student.grade" ng-options="grade.name as grade.name for grade in grades"required><option value=""> Choose Grade </option></select>
              <span class="ion-university form-control-feedback"></span>
            </div>
     
            <button type="submit" class="btn btn-block btn-success">Add Student</button>
            <br/>

          </form>
        </div>
      </div>

      <div ng-show="editStudentShowing" class="center-form panel">
        <div class="panel-body">
          <h4 class="text-center">Edit Student  <i class="ion-edit green"></i> </h4>
          <form method="put" ng-submit="editStudent(currentStudent)" name="editStudentForm">

            <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.firstName.$invalid && editStudentForm.firstName.$dirty }">
              <input class="form-control input-lg" type="text" id="firstName" name="firstName" ng-model="currentStudent.firstName" placeholder="First Name" required>
              <span class="ion-person form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.lastName.$invalid && editStudentForm.lastName.$dirty }">
              <input class="form-control input-lg" type="text" id="lastName" name="lastName" ng-model="currentStudent.lastName" placeholder="Last Name" required>
              <span class="form-control-feedback"></span>
            </div>

             <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.grade.$invalid && editStudentForm.grade.$dirty }">
              <select class="form-control input-lg" type="text" id="grade" name="grade" ng-model="currentStudent.grade" ng-options="grade.name as grade.name for grade in grades"required><option value=""> Choose Grade </option></select>
              <span class="ion-university form-control-feedback"></span>
            </div>
     
            <button type="submit" class="btn btn-block btn-success">Edit Student</button>
            <br/>

          </form>
          <button ng-click="showDeleteWarning(currentStudent)" class="btn btn-block btn-danger">Delete Student</button>
        </div>
      </div>

      <div class="center-form panel stats-panel" ng-show="statsShowing">
        <h3 class="center-text">Assesments</h3>
        <h6 class="center-text"> For {{currentStudent.firstName}} {{currentStudent.lastName}}</h6>
        <section class="centered-pills">
          <ul class="nav nav-pills">
            <li ng-class="{active: letterAssesmentChartShowing}"><a href="" ng-click="showLetterAssesmentChart()"> Letters</a> </li>
            <li ng-class="{active: sightWordAssesmentChartShowing}"><a href="" ng-click="sightWordAssesmentChart()"> Sight Words</a> </li> 
          </ul>
         
        </section>
        <canvas id="line" class="chart chart-line" data="data"
          labels="labels" legend="true" series="series"
          click="onClick">
        </canvas> 
        <div ng-show="letterAssesmentChartShowing">
          <div ng-repeat="assesments in letterAssesments">
            <table  ng-if="assesments.length > 0" class="table table-condensed">
              <tr>
                <h5 ng-if="assesments.length > 0">{{letterAssesmentTitle(assesments)}}</h5>
              </tr>
              <tr>
                <td>Dates:</td>
                <td ng-repeat="score in assesments"  class="center-text">{{score.date | date: 'shortDate'}} </td>
              </tr>
              <tr>
                <td>Correct:</td>
                <td ng-repeat="score in assesments" ng-class="{red: score.correctCount/26 < .33, yellow: score.correctCount/26 > .33 && score.correctCount/26 < .66, green: score.correctCount/26 >= .66}" class="center-text"> {{score.correctCount / 26 | percentage:0}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div ng-show="sightWordAssesmentChartShowing">
          <div ng-repeat="assesments in sightWordAssesments">
            <table  ng-if="assesments.length > 0" class="table table-condensed">
            <tr><h5>{{assesments[0].name}}</h5></tr>
            <tr>
                <td>Dates:</td>
                <td ng-repeat="score in assesments"  class="center-text">{{score.date | date: 'shortDate'}} </td>
              </tr>
              <tr>
                <td>Correct:</td>
                <td ng-repeat="score in assesments" ng-class="{red: score.correctCount / ((1 * score.correctCount) + (1 * score.incorrectCount)) < .33, yellow: score.correctCount / ((1 * score.correctCount) + (1 * score.incorrectCount)) > .33 && score.correctCount / ((1 * score.correctCount) + (1 * score.incorrectCount)) < .66, green: score.correctCount / ((1 * score.correctCount) + (1 * score.incorrectCount)) >= .66}" class="center-text"> 
                {{score.correctCount / ((1 * score.correctCount) + (1 * score.incorrectCount)) | percentage:0}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
     
    </div>
</div>